<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CadastroDePaciente</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>

  <form:post>

    <div>
      <p>
        Médico Responsável: 
        <select ng-for*='let medico of listMedico' class='AppModule'>{}</select>
      </p>
    </div>
    <div>
      <p>
        Nome Paciente: 
        <input ng-model="paciente.nome" type="text">
      </p>
    </div>
    <div>
      <p>
        Tipo Sanguíneo: 
        <select ng-model="paciente.tipoSanguineo">
          <option value="+AB">+AB</option>
          <option value="-AB">-AB</option>
          <option value="+A">+A</option>
          <option value="-A">-A</option>
          <option value="+B">+B</option>
          <option value="-B">-B</option>
          <option value="+O">+O</option>
          <option value="-O">-O</option>
        </select>
      </p>
    </div>
    <div>
      <input type="submit" >
    </div>

</form>

</body>

</html>
